html,
body,
a,
button {
    cursor: none;
}

body {
    font-family: Roboto, "筑紫B丸ゴシック", sans-serif;
    line-height: 1.75;
    font-size: 16px;
    background-color: rgb(243, 243, 174, 0.700);
    cursor: none;
    position: relative;
}

#cursor {
    pointer-events: none;
    position: fixed;
    top: -4px;
    left: -4px;
    width: 8px;
    height: 8px;
    background: rgb(202, 93, 93);
    transform: translate(-100px, -100px);
    border-radius: 50%;
    z-index: 999;
}

#stalker {
    pointer-events: none;
    position: fixed;
    top: -16px;
    left: -16px;
    width: 32px;
    height: 32px;
    background: rgb(216, 126, 126, 0.5);
    border-radius: 50%;
    transform: translate(-100px, -100px);
    transition: transform 0.2s;
    transition-timing-function: ease-out;
    z-index: 998;
}

#stalker.hov_ {
    top: -40px;
    left: -40px;
    width: 80px;
    height: 80px;
    transition: .15s;
    background: rgb(213, 139, 139, 0.5);
}


* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/*#cursor {
    transform: translate(0, 0);
    pointer-events: none;
    position: fixed;
    top: -4px;
    left: -4px;
    width: 8px;
    height: 8px;
    background: #ef8989;
    border-radius: 50%;
    z-index: 999;
    transition: width .3s, height .3s, top .3s, left .3s;
}

body:hover {
    top: -12px;
    left: -12px;
    width: 32px;
    height: 32px;
    background: #ef8989;
}*/

/*todoリスト*/

header {
    font-size: 1.5rem;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    color: rgb(216, 126, 126);
    background: white;
    transition: all 0.3s ease;
}

form button:hover {
    background: rgb(216, 126, 126);
    color: white;
}

.input {
    display: flex;
    align-items: center;
}

.todo-input,
.todo-input1 {
    height: 47px;
    width: 230px;
    font-size: 15px;
}

.todo_txt {
    margin-left: 15px;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
    padding-bottom: 40px;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo-button {
    background-color: rgb(216, 126, 126, 0.7);
    height: 47px;
}


.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    background: #94cf00;
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1rem;
}

.complete-btn {
    background: #ffc130;
}

.todo-item {
    padding: 0 0.5rem;
}

/* クリックイベント時に個別に反応しないように */
.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    width: 10rem;
    padding: 1rem;
    cursor: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.select::after {
    content: "\25BC";
    background: rgb(216, 126, 126);
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after {
    background: white;
    color: rgb(216, 126, 126);
}

.kaidashi-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}